<div class="container">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Filtros </mat-panel-title>
        <mat-panel-description>
          Clique para expandir filtros
          <mat-icon color="primary">filter_list</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Nº Pedido DE</mat-label>
        <input matInput [(ngModel)]="numeroPedidoDe" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nº Pedido ATE</mat-label>
        <input matInput [(ngModel)]="numeroPedidoAte" />
        <mat-hint color> {{ numeroPedidoErroMsg }}</mat-hint>
        <mat-error *ngIf="numeroPedidoErroState">
          {{ numeroPedidoErroMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Digite um período</mat-label>
        <mat-date-range-input [formGroup]="daterange" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Data Inicial">
          <input matEndDate formControlName="end" placeholder="Data Final">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Nome Fantasia Cliente </mat-label>
        <input matInput [(ngModel)]="nomeFantasiaCliente" />
      </mat-form-field>
      <span class="ajusteBtnSearch">
        <button
          mat-flat-button
          color="primary"
          aria-label="buscar"
          (click)="filterList()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </span>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="mostrar; else loading">
    <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
      <!-- Action Column -->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>
          <section class="example-section">
          </section>
        </th>
        <td mat-cell *matCellDef="let element">
          <section class="example-section">
            <mat-checkbox color="primary" class="example-margin"  (change) ="montaListaParaDownload(element)"> </mat-checkbox>
          </section>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="pedido">
        <th mat-header-cell *matHeaderCellDef>Pedido</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cabecalho.numero_pedido }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">
          {{ element.infoCadastro.dInc }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cliente.nome_fantasia }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef>Endereço</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cliente.endereco }} {{ element.cliente.endereco_numero }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="itens">
        <th mat-header-cell *matHeaderCellDef>Itens</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cabecalho.quantidade_itens }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">
          R$ {{ element.total_pedido.valor_total_pedido }}
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            (click)="downloadAsPDF(element)"
          >
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            (click)="viewPDF(element.cabecalho.numero_pedido)"
          >
            <mat-icon>preview</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="botoesRodape">
      <button class="downloadButton"
            mat-flat-button
            color="primary"
            (click)="downloadAllPDFs()"
          >
            <mat-icon>vertical_align_bottom</mat-icon>
          </button>
          <mat-paginator class="paginatorClass"
      [pageIndex]="paginacao.pagina"
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageNavigations($event)"
      aria-label="Select page"
    >
    </mat-paginator>
    </div>

  </div>
</div>
<ng-template #loading>
  <div class="loading-spinner">
    <img class="tamanhoIMG" [src]="'assets/images/loading.gif'" alt="image" />
  </div>
</ng-template>

<app-pdfgenerator [element]="firstElement"></app-pdfgenerator>
