<h1 mat-dialog-title>Pedido {{data.pedido_venda_produto.cabecalho.numero_pedido}} - {{data.pedido_venda_produto.cliente.nome_fantasia}}</h1>



<div mat-dialog-content>
  <div class="conteudo_simplest_modal">
    <div class="modal-conteudo" style="padding-bottom: 0">
      <a class="botao pequeno padrao">Imprimir</a>
      <a
        class="botao pequeno padrao"
        href="/337413/pedidos/66629563/pdf/"
        target="_blank"
        >Download PDF</a
      >
    </div>
    <hr />
    <div
      id="conteudo_imprimir"
      style="width: 840px; margin: 0 auto; padding-bottom: 20px"
    >
      <div class="pedido_html" >
        <table
          style="
            border: 2px solid #000000;
            text-align: center;
            width: 100%;
            border-collapse: collapse;
            border-bottom: 0;
          "

        >
          <tbody >
            <tr>
              <td style="width: 210px; padding: 3px">
                <img
                  src="https://simplest-meuspedidos-arquivos.s3.amazonaws.com/media/logomarca/337413/c1b81d96-52eb-11ec-991f-0242ac120003.png"
                />
              </td>
              <td style="font-size: 12pt; text-align: center; padding: 3px">
                <strong>Costa Lavos</strong> <br />Pedido N&ordm; {{data.pedido_venda_produto.cabecalho.numero_pedido}}
              </td>
              <td style="width: 210px; padding: 3px">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000000;
            width: 100%;
            border-collapse: collapse;
            border-bottom: 0;
          "
        >
          <tbody>
            <tr>
              <td style="padding: 3px" colspan="2">
                <strong>Representada:</strong> Costa Lavos / Costa Lavos
              </td>
            </tr>
            <tr>
              <td style="width: 50%; padding: 3px" colspan="2">
                <strong>CNPJ:</strong> 60.813.540/0004-69
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000000;
            width: 100%;
            border-collapse: collapse;
            border-bottom: 0;
          "
        >
          <tbody>
            <tr>
              <td style="width: 50%; padding: 3px">
                <strong>Cliente:</strong> {{data.pedido_venda_produto.cliente.razao_social}}
              </td>
              <td style="width: 50%; padding: 3px">
                <strong>Nome Fantasia:</strong> {{data.pedido_venda_produto.cliente.nome_fantasia}}
              </td>
            </tr>
            <tr>
              <td style="width: 50%; padding: 3px">
                <strong>CNPJ:</strong> {{data.pedido_venda_produto.cliente.cnpj_cpf}}
              </td>
              <td style="width: 50%; padding: 3px">
                <strong>Inscri&ccedil;&atilde;o Estadual:</strong> {{data.pedido_venda_produto.cliente.inscricao_estadual}}
              </td>
            </tr>
            <tr>
              <td style="padding: 3px" colspan="2">
                <strong>Endere&ccedil;o:</strong> {{data.pedido_venda_produto.cliente.endereco}} {{data.pedido_venda_produto.cliente.endereco_numero}}
              </td>
            </tr>
            <tr>
              <td style="width: 50%; padding: 3px">
                <strong>Bairro:</strong> {{data.pedido_venda_produto.cliente.bairro}}
              </td>
              <td style="width: 50%; padding: 3px">
                <strong>CEP:</strong> {{data.pedido_venda_produto.cliente.cep}}
              </td>
            </tr>
            <tr>
              <td style="width: 50%; padding: 3px">
                <strong>Cidade:</strong> {{data.pedido_venda_produto.cliente.cidade}}
              </td>
              <td style="width: 50%; padding: 3px">
                <strong>Estado:</strong> {{data.pedido_venda_produto.cliente.estado}}
              </td>
            </tr>
            <tr>
              <td style="width: 50%; padding: 3px">
                <strong>Telefone:</strong> {{data.pedido_venda_produto.cliente.telefone1_ddd}} {{data.pedido_venda_produto.cliente.telefone1_numero}}
              </td>
              <td style="width: 50%; padding: 3px">
                <strong>E-mail:</strong> {{data.pedido_venda_produto.cliente.email}}
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000;
            border-collapse: collapse;
            page-break-after: auto;
            width: 100%;
            border-bottom: 0;
          "
          width="100%"
        >
          <tbody >
            <tr>
              <td style="border: 1px solid #888; padding: 3px; font-size: 13px">
                <strong>Produto</strong>
              </td>
              <td
                style="
                  text-align: center;
                  border: 1px solid #888;
                  padding: 3px;
                  font-size: 13px;
                  width: 65px;
                "
                align="center"
                width="65"
              >
                <strong>Qtde.</strong>
              </td>
              <td
                style="
                  text-align: right;
                  border: 1px solid #888;
                  padding: 3px;
                  font-size: 13px;
                  width: 100px;
                "
                align="right"
                width="100"
              >
                <strong>Pre&ccedil;o Tabela</strong>
              </td>
              <td
                style="
                  text-align: center;
                  border: 1px solid #888;
                  padding: 3px;
                  font-size: 13px;
                  width: 100px;
                "
                align="center"
                width="100"
              >
                <strong>Desc.</strong>
              </td>
              <td
                style="
                  text-align: right;
                  border: 1px solid #888;
                  padding: 3px;
                  font-size: 13px;
                  width: 118px;
                "
                align="right"
                width="118"
              >
                <strong>Pre&ccedil;o L&iacute;quido</strong>
              </td>
              <td
                style="
                  text-align: right;
                  border: 1px solid #888;
                  padding: 3px;
                  font-size: 13px;
                  width: 100px;
                "
                align="right"
                width="100"
              >
                <strong>Subtotal</strong>
              </td>
            </tr>

            <tr
              style="
                border-collapse: collapse;
                border-left: 2px solid #000;
                border-right: 2px solid #000;
                padding: 5px;
                page-break-inside: avoid;
                width: 100%;
                border-bottom: 0;
              "
              *ngFor="let pedido of listaProdutos"
            >
              <td
                style="
                  border: 1px solid #888;
                  padding: 3px;
                  font-size: 13px;
                  border-bottom: 0;
                "
              >
                <table>
                  <tbody>
                    <tr>
                      <td style="font-size: 13px">

                        {{pedido.produto.codigo}} - {{pedido.produto.descricao}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td
                style="
                  text-align: center;
                  border: 1px solid #888;
                  padding: 3px;
                  font-size: 13px;
                  border-bottom: 0;
                  width: 65px;
                "
                align="center"
                width="65"
              >
              {{pedido.produto.quantidade}} {{pedido.produto.unidade}}
              </td>
              <td
                style="
                  text-align: right;
                  border: 1px solid #888;
                  padding: 3px;
                  font-size: 13px;
                  border-bottom: 0;
                  width: 100px;
                "
                align="right"
                width="100"
              >
              R$ {{pedido.produto.valor_unitario}}
              </td>
              <td
                style="
                  text-align: center;
                  border: 1px solid #888;
                  padding: 3px;
                  font-size: 13px;
                  border-bottom: 0;
                  width: 100px;
                "
                align="center"
                width="100"
              >
                -----
              </td>
              <td
                style="
                  text-align: right;
                  border: 1px solid #888;
                  padding: 3px;
                  font-size: 13px;
                  border-bottom: 0;
                  width: 118px;
                "
                align="right"
                width="118"
              >
              R$ {{pedido.produto.valor_unitario}}
              </td>
              <td
                style="
                  text-align: right;
                  border: 1px solid #888;
                  padding: 3px;
                  font-size: 13px;
                  border-bottom: 0;
                  width: 100px;
                "
                align="right"
                width="100"
              >
              R$ {{pedido.produto.valor_total}}
              </td>
            </tr>






          </tbody>
        </table>
        <table
          style="
            border-collapse: collapse;
            border-left: 2px solid #000;
            border-right: 2px solid #000;
            padding: 5px;
            page-break-inside: avoid;
            width: 100%;
            border-bottom: 0;
          "
          width="100%"
        >
          <tbody>
            <tr
              style="
                border: 2px solid #000;
                border-bottom: 0;
                border-collapse: collapse;
                border-top: 0;
                page-break-after: auto;
                width: 100%;
              "
            >
              <td
                style="text-align: right; border: 1px solid #888; padding: 3px"
                align="right"
              >
                <strong>Valor Pedido:</strong>
              </td>
              <td
                style="
                  text-align: right;
                  border: 1px solid #888;
                  padding: 3px;
                  width: 140px;
                "
                align="right"
                width="140"
              >
                <strong>R$ {{data.pedido_venda_produto.total_pedido.valor_total_pedido}}</strong>
              </td>
            </tr>
            <tr
              style="
                border: 2px solid #000;
                border-bottom: 0;
                border-collapse: collapse;
                border-top: 0;
                page-break-after: auto;
                width: 100%;
              "
            >
              <td
                style="text-align: right; border: 1px solid #888; padding: 3px"
                align="right"
              >
                <strong>Saldo Anterior:</strong>
              </td>
              <td
                style="
                  text-align: right;
                  border: 1px solid #888;
                  padding: 3px;
                  width: 140px;
                "
                align="right"
                width="140"
              >
                <strong>R$ 1.412,50</strong>
              </td>
            </tr>
            <tr
              style="
                border: 2px solid #000;
                border-bottom: 0;
                border-collapse: collapse;
                border-top: 0;
                page-break-after: auto;
                width: 100%;
              "
            >
              <td
                style="text-align: right; border: 1px solid #888; padding: 3px"
                align="right"
              >
                <strong>Valor Total:</strong>
              </td>
              <td
                style="
                  text-align: right;
                  border: 1px solid #888;
                  padding: 3px;
                  width: 140px;
                "
                align="right"
                width="140"
              >
                <strong>R$ 1.412,50</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000000;
            border-bottom: 0;
            width: 100%;
            border-collapse: collapse;
          "
        >
          <tbody>
            <tr>
              <td style="padding: 3px; width: 70%">
                <strong>Condi&ccedil;&atilde;o de Pagamento:</strong> A Vista
              </td>
              <td style="padding: 3px; width: 30%">
                <strong>Data de Emiss&atilde;o:</strong> 02/02/2022
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000000;
            border-bottom: 0;
            width: 100%;
            border-collapse: collapse;
          "
        >
          <tbody>
            <tr>
              <td style="padding: 3px">
                <strong>data_entrega: </strong> {{data.pedido_venda_produto.frete.previsao_entrega}}
              </td>
              <td style="padding: 3px; width: 30%">
                <strong>Fantasia: </strong>{{data.pedido_venda_produto.cliente.nome_fantasia}}
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000000;
            border-bottom: 0;
            width: 100%;
            border-collapse: collapse;
          "
        >
          <tbody>
            <tr>
              <td style="padding: 3px"><strong>pedido_erp: </strong> {{data.pedido_venda_produto.cabecalho.numero_pedido}}</td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000000;
            border-bottom: 0;
            width: 100%;
            border-collapse: collapse;
          "
        >
          <tbody>
            <tr>
              <td style="padding: 3px">
                <strong>tipo_faturamento: </strong> Op&ccedil;&atilde;o 1
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000000;
            border-bottom: 0;
            width: 100%;
            border-collapse: collapse;
          "
        >
          <tbody>
            <tr>
              <td style="padding: 3px">
                <strong>tipo_frete: </strong> 0 - Frete por conta do emitente.
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000000;
            border-bottom: 0;
            width: 100%;
            border-collapse: collapse;
          "
        >
          <tbody>
            <tr>
              <td style="padding: 3px">
                <strong>Tipo de pedido:</strong> Venda
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000000;
            width: 100%;
            border-collapse: collapse;
            border-bottom: 0;
          "
        >
          <tbody>
            <tr>
              <td style="padding: 3px">
                <strong>Transportadora:</strong> {{data.pedido_venda_produto.frete.codigo_transportadora}}
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000000;
            width: 100%;
            border-collapse: collapse;
            border-bottom: 0;
          "
        >
          <tbody>
            <tr>
              <td style="padding: 3px; word-break: break-word">
                <strong>Informa&ccedil;&otilde;es Adicionais:</strong
                ><br />{{data.pedido_venda_produto.cliente.nome_fantasia}}
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="
            border: 2px solid #000000;
            width: 100%;
            border-collapse: collapse;
          "
        >
          <tbody>
            <tr>
              <td
                style="padding: 3px; text-align: center; word-break: break-word"
              >
                &nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
