<mat-card>
  <mat-toolbar>
    <span>Pedidos</span>
  </mat-toolbar>
  <div *ngIf="pedidos$ | async as pedidos; else loading">
    <table mat-table [dataSource]="pedidos" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Pedido Column -->
      <ng-container matColumnDef="codigoPedido">
        <th mat-header-cell *matHeaderCellDef>Pedido</th>
        <td mat-cell *matCellDef="let element">{{ element.codigoPedido }}</td>
      </ng-container>

      <!-- Cliente Column -->
      <ng-container matColumnDef="nomeFantasia">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.nomeFantasia }}</td>
      </ng-container>

      <!-- Data Column -->
      <ng-container matColumnDef="dataPrevisao">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">{{ element.dataPrevisao }}</td>
      </ng-container>

      <!-- Itens Column -->
      <ng-container matColumnDef="quantidadeItens">
        <th mat-header-cell *matHeaderCellDef>Itens</th>
        <td mat-cell *matCellDef="let element">
          {{ element.quantidadeItens }}
        </td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="valorTotalPedido">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">
          {{ element.valorTotalPedido }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
